.weather-card{
    box-shadow: rgba(8, 8, 46, 0.25) 0px 30px 60px -12px inset, rgba(8, 8, 46, 0.25) 0px 18px 36px -18px inset;
    border:none !important;
    z-index: 1;
    position: absolute;
    height: 75%;
    width: 85%;
    background-color: rgba(0,0,0,.2) !important;
    overflow: scroll;
}

.weather-animation{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20%;
}

.weatherDetail{
    border-left: 4px #fcba03 solid !important;
    margin-bottom: 1%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
    height: 95%;
}
